openapi: 3.0.0
info:
  title: Avaya OneCloud CPaaS
  description: Avaya OneCloud CPaaS is a robust development platform — create what
    you need, integrate it seamlessly with your current communications systems and
    go! Getting started with Avaya OneCloud CPaaS is easy.
  version: 2.0.3
servers:
- url: https://api.zangsandbox.com/v2
  description: Production server
paths:
  /Accounts/{AccountSid}/Calls{mediaTypeExtension}:
    get:
      tags:
      - Calls
      summary: List Calls
      description: List all calls associated with your account.
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: To
        in: query
        description: |
          Filter by a specific number calls were made to.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: From
        in: query
        description: |
          Filter by a specific number calls were made from.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: |
          Filter by calls with the specified status. Allowed values are "ringing", "in-progress", "queued", "busy", "completed", "no-answer", and "failed".
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StartTime
        in: query
        description: |
          Filter by all calls beginning on or from a certain date. Date range can be specified using inequalities like so, "StartTime>=YYYY-MM-DD".
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SipDomain
        in: query
        description: |
          Filter all calls that contain SipDomain in the source and destination address.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Page
        in: query
        description: |
          Used to return a particular page within the list.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: PageSize
        in: query
        description: |
          Used to specify the amount of list items to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Calls
      summary: Make Call
      description: Initiate a call.
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/reqcall'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcall'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Calls/{CallSid}{mediaTypeExtension}:
    get:
      tags:
      - Calls
      summary: View Call
      description: View all information about a call.
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CallSid
        in: path
        description: |
          Call Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcall'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Calls
      summary: Interrupt/Send Digits to Live Call
      description: Changes the status of the call or uses DTMF tones to mimic button
        presses.
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CallSid
        in: path
        description: |
          Call Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcall'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Calls/{CallSid}/Play{mediaTypeExtension}:
    post:
      tags:
      - Calls
      summary: Play Audio to Live Call
      description: Plays audio during a live call.
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CallSid
        in: path
        description: |
          Call Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_1'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcall'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Calls/{CallSid}/Effect{mediaTypeExtension}:
    post:
      tags:
      - Calls
      summary: Apply Voice Effect
      description: Applies a voice effect to a call.
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CallSid
        in: path
        description: |
          Call Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_2'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcall'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SMS/Messages{mediaTypeExtension}:
    get:
      tags:
      - SMS
      summary: shows info on all SMS messages associated with some account
      description: List SMS
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: To
        in: query
        description: |
          List all SMS sent to this number. The value does not have to be in any specific format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: From
        in: query
        description: |
          List all SMS sent from this number. The value does not have to be in any specific format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: DateSent>
        in: query
        description: |
          Lists all SMS messages sent in a date range. Set DateSent>= and DateSent<= in YYYY-MM-DD format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: DateSent<
        in: query
        description: |
          Lists all SMS messages sent in a date range. Set DateSent>= and DateSent<= in YYYY-MM-DD format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Page
        in: query
        description: |
          Used to return a particular page within the list.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: PageSize
        in: query
        description: |
          Used to specify the amount of list items to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SMS
      summary: send SMS message
      description: Send SMS
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/reqsms'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewsms'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SMS/Messages/{SMSMessageSid}{mediaTypeExtension}:
    get:
      tags:
      - SMS
      summary: shows info on SMS message
      description: View SMS
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: SMSMessageSid
        in: path
        description: |
          SMS message SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewsms'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/MMS/Messages{mediaTypeExtension}:
    get:
      tags:
      - MMS
      summary: shows info on all mms messages associated with some account
      description: List MMS
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: To
        in: query
        description: |
          List all mms sent to this number. The value does not have to be in any specific format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: From
        in: query
        description: |
          List all mms sent from this number. The value does not have to be in any specific format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: DateSent
        in: query
        description: |
          Lists all mms messages sent beginning on or from a certain date. Date ranges can also be used, such as "DateSent=>YYYY-MM-DD".
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Page
        in: query
        description: |
          Used to return a particular page within the list.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: PageSize
        in: query
        description: |
          Used to specify the amount of list items to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - MMS
      summary: send MMS message
      description: Send MMS
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/reqmms'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewmms'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/MMS/Messages/{MMSMessageSid}{mediaTypeExtension}:
    get:
      tags:
      - MMS
      summary: shows info on MMS message
      description: View MMS
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: MMSMessageSid
        in: path
        description: |
          MMS message SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewmms'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/IncomingPhoneNumbers/{IncomingNumberSid}{mediaTypeExtension}:
    get:
      tags:
      - Incoming Phone Numbers
      summary: shows info on an incoming phone number
      description: View Number
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IncomingNumberSid
        in: path
        description: |
          Incoming Number Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewnum'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Incoming Phone Numbers
      summary: updates an incoming phone number data
      description: Update Number
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IncomingNumberSid
        in: path
        description: |
          Incoming Number Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_3'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewnum'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - Incoming Phone Numbers
      summary: deletes an incoming phone number
      description: Delete Number
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IncomingNumberSid
        in: path
        description: |
          Incoming Number Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewnum'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/IncomingPhoneNumbers{mediaTypeExtension}:
    get:
      tags:
      - Incoming Phone Numbers
      summary: shows info on all incoming numbers associated with some account
      description: List Numbers
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: Contains
        in: query
        description: |
          List numbers containing certain digits.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: FriendlyName
        in: query
        description: |
          Specifies that only IncomingPhoneNumber resources matching the input FriendlyName should be returned in the list request.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewnum'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Incoming Phone Numbers
      summary: purchases a new incoming number
      description: Add Number
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_4'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewnum'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/AvailablePhoneNumbers/{Country}/{Type}{mediaTypeExtension}:
    get:
      tags:
      - AvailablePhoneNumbers
      summary: shows info on all transcriptions associated with some account
      description: List Available Numbers
      parameters:
      - name: Country
        in: path
        description: |
          Two letter country code.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Type
        in: path
        description: |
          Type of the phone number. Can be Local or Tollfree.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: Page
        in: query
        description: |
          Used to return a particular page within the list.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: PageSize
        in: query
        description: |
          Used to specify the amount of list items to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Contains
        in: query
        description: |
          Specifies the desired characters contained within the available numbers to list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AreaCode
        in: query
        description: |
          Specifies the area code that the returned list of available numbers should be in. Only available for North American numbers.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: InRegion
        in: query
        description: |
          Specifies the desired region of the available numbers to be listed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: InPostalCode
        in: query
        description: |
          Specifies the desired postal code of the available numbers to be listed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Applications{mediaTypeExtension}:
    get:
      tags:
      - Applications
      summary: Shows info on all Avaya CPaaS applications associated with some account
      description: List Applications
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Applications
      summary: Creates a new application
      description: Create Applications
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/reqapp'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewapp'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Applications/{ApplicationSid}{mediaTypeExtension}:
    get:
      tags:
      - Applications
      summary: Shows info on all Avaya CPaaS applications associated with some account
      description: View Application
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ApplicationSid
        in: path
        description: |
          Application SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewapp'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Applications
      summary: Updates Avaya CPaaS application data
      description: Update Application
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ApplicationSid
        in: path
        description: |
          Application SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/reqapp'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewapp'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - Applications
      summary: Deletes Avaya CPaaS application
      description: Delete Application
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ApplicationSid
        in: path
        description: |
          Application SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewapp'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Conferences{mediaTypeExtension}:
    get:
      tags:
      - Conferences
      summary: Shows information on all conferences associated with some account
      description: List Conferences
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: FriendlyName
        in: query
        description: |
          Filters conferences by the given FriendlyName.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: |
          Filters conferences by the given status. Allowed values are "init", "in-progress", or "completed".
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: DateCreated
        in: query
        description: |
          Filter by conferences created on, after, or before a given date. Date range can be specified using inequalities like "DateCreated>=YYYY-MM-DD". Allowed values are dates in the YYYY-MM-DD format..
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: DateUpdated
        in: query
        description: |
          Filter by conferences updated on or after a given date. Date range can be specified using inequalities like "DateCreated>=YYYY-MM-DD". Allowed values are dates in the YYYY-MM-DD format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Page
        in: query
        description: |
          Used to return a particular page within the list.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: PageSize
        in: query
        description: |
          Used to specify the amount of list items to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Conferences/{ConferenceSid}{mediaTypeExtension}:
    get:
      tags:
      - Conferences
      summary: Shows information on some conference
      description: View Conference
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ConferenceSid
        in: path
        description: |
          Conference Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewconf'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants{mediaTypeExtension}:
    get:
      tags:
      - Conferences
      summary: Lists all participants on some conference
      description: List Participants
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ConferenceSid
        in: path
        description: |
          Conference Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Muted
        in: query
        description: |
          Filter by participants that are muted. Allowed values are "true" or "false".
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: Deaf
        in: query
        description: |
          Filter by participants that are deaf. Allowed values are "true" or "false".
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: Page
        in: query
        description: |
          Used to return a particular page within the list.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: PageSize
        in: query
        description: |
          Used to specify the amount of list items to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants/{ParticipantSid}{mediaTypeExtension}:
    get:
      tags:
      - Conferences
      summary: Shows info on some conference participant
      description: View Participant
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ConferenceSid
        in: path
        description: |
          Conference Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ParticipantSid
        in: path
        description: |
          Participant Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewpart'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - Conferences
      summary: Mutes or deafens conference participant
      description: Mute/Deafen Participant
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ConferenceSid
        in: path
        description: |
          Conference Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ParticipantSid
        in: path
        description: |
          Participant Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_5'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewpart'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - Conferences
      summary: Hangs up a conference participant
      description: Hang up Participant
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ConferenceSid
        in: path
        description: |
          Conference Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ParticipantSid
        in: path
        description: |
          Participant Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewpart'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants/{ParticipantSid}/Play{mediaTypeExtension}:
    post:
      tags:
      - Conferences
      summary: Plays an audio file to a conference participant
      description: Play Audio to Participant
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: ConferenceSid
        in: path
        description: |
          Conference Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ParticipantSid
        in: path
        description: |
          Participant Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_6'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewpart'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/Domains{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: List all your SIP domains
      description: List Domains
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Create new SIP domain
      description: Create Domain
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/reqdom'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewdom'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/Domains/{DomainSid}{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: Get info on your SIP domain
      description: View Domain
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewdom'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Updates info for credentials list
      description: Update Domain
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/requpdom'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewdom'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - SIP Credentials
      summary: Deletes SIP Domain
      description: Delete Domain
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewdom'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/Domains/{DomainSid}/CredentialListedMappings{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: shows info on credential lists attached to a SIP domain
      description: List Mapped Credentials Lists
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Create SIP domain credentials list
      description: Create Credentials List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_7'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredentials'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/Domains/{DomainSid}/CredentialListedMappings{CredentialsListSid}{mediaTypeExtension}:
    delete:
      tags:
      - SIP Credentials
      summary: Deletes SIP domain credentials
      description: Delete Credential
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: CredentialsListSid
        in: path
        description: |
          Credentials List Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredentials'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/Domains/{DomainSid}/IpAccessControlListMappings{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: shows info on IP access control lists attached to a SIP domain
      description: List Mapped IP ACLs
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Maps IP access control list to a SIP domain
      description: Map IP ACL
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_8'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewacl'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/Domains/{DomainSid}/IpAccessControlListMappings/{IpAccessControlListSid}{mediaTypeExtension}:
    delete:
      tags:
      - SIP Credentials
      summary: Deletes SIP domain credentials
      description: Delete Credential
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: DomainSid
        in: path
        description: |
          Domain Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: IpAccessControlListSid
        in: path
        description: |
          IP Access Control List Sid.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewacl'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/CredentialLists{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: Show info on SIP domain credentials lists
      description: List Credential Lists
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Creates SIP domain credentials list
      description: Create Credential List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_9'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredentiallist'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/CredentialLists/{CredentialsListSid}{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: View info on SIP domain credentials list
      description: View Credentials List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredentiallist'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Updates info for credentials list
      description: Update Credentials List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_10'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredentiallist'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - SIP Credentials
      summary: Delete credentials list
      description: Delete Credentials List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredentiallist'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/CredentialLists/{CredentialsListSid}/Credentials{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: Shows info on all credentials attached to a particular credentials
        list
      description: List Credentials
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Create SIP domain credentials
      description: Create Credential
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_11'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredential'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/CredentialLists/{CredentialsListSid}/Credentials/{CredentialSid}{mediaTypeExtension}:
    get:
      tags:
      - SIP Credentials
      summary: show info on all credentials attached to a particular credentials list
      description: View Credential
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: CredentialSid
        in: path
        description: |
          Credential SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredential'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP Credentials
      summary: Updates SIP domain credentials
      description: Update Credential
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: CredentialSid
        in: path
        description: |
          Credential SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_12'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredential'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - SIP Credentials
      summary: Deletes SIP domain credentials
      description: Delete Credential
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: CredentialsListSid
        in: path
        description: |
          Credentials list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: CredentialSid
        in: path
        description: |
          Credential SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewcredential'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/IpAccessControlList{mediaTypeExtension}:
    get:
      tags:
      - SIP IP Access Control List
      summary: List all IP access control lists associated with a particular account
      description: List IP ACL
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP IP Access Control List
      summary: Create IP access control list
      description: Create IP Access Control List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_13'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewacl'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/IpAccessControlLists/{IpAccessControlListSid}{mediaTypeExtension}:
    get:
      tags:
      - SIP IP Access Control List
      summary: View information for IP access control list
      description: View IP Access Control List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IpAccessControlListSid
        in: path
        description: |
          IP access control list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewacl'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP IP Access Control List
      summary: Update information for IP access control list
      description: Update IP Access Control List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IpAccessControlListSid
        in: path
        description: |
          IP access control list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_14'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewacl'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    delete:
      tags:
      - SIP IP Access Control List
      summary: Delete IP access control list
      description: Delete IP Access Control List
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IpAccessControlListSid
        in: path
        description: |
          IP access control list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewacl'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/IpAccessControlLists/{IpAccessControlListSid}/IpAddresses{mediaTypeExtension}:
    get:
      tags:
      - SIP IP Access Control List
      summary: Lists IP addresses attached to some IP access control list
      description: List ACL IPs
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IpAccessControlListSid
        in: path
        description: |
          IP access control list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
    post:
      tags:
      - SIP IP Access Control List
      summary: Add new IP for access control list
      description: Add ACL IP
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
          By default, Avaya's REST API returns XML. You may obtain CSV, JSON or XML by appending ".csv", ".json", or ".xml".
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: .xml
          enum:
          - .xml
          - .json
          - .csv
      - name: IpAccessControlListSid
        in: path
        description: |
          IP access control list SID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_15'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewip'
        "400":
          description: Bad Request
        "401":
          description: The supplied credentials, if any, are not sufficient to access
            the resource.
        "404":
          description: The requested resource was not found
        "500":
          description: Internal server error.
  /Accounts/{AccountSid}/SIP/IpAccessControlLists/{IpAccessControlListSid}/IpAddresses/{IpAddressSid}{mediaTypeExtension}:
    get:
      tags:
      - SIP IP Access Control List
      summary: View information on IP access control list IP address
      description: View ACL IP
      parameters:
      - name: AccountSid
        in: path
        description: |
          Your Account Sid
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        description: |
[...]
